.meli-header {
  width: 100%;
  background-color: var(--primary-background-color);
  box-shadow: var(--box-shadow-level-1);
}

.meli-header-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1rem;
  gap: 16px;
}

.meli-logo {
  background-image: var(--logo-url);
  background-repeat: no-repeat;
  display: inline-block;
  overflow: hidden;
  height: 34px;
  min-width: 134px;
  border-collapse: collapse;
  user-select: none;
  text-indent: -500px;
}

@media only screen and (max-width: 1023px) {
  .meli-logo {
    background-image: var(--logo-mini-url);
    min-width: 44px;
    height: 31px;
  }
}
