#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.meli-app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.meli-content {
  height: 100%;
  padding: 2rem;
}
